MONGODB_URI=mongodb+srv://chandniverma9211_db_user:Pass1234@cluster0.j1r7eq2.mongodb.net/task-manager?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_change_in_production
PORT=5000
NODE_ENV=development